.barra-estado {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  padding: 1rem;
  border-radius: 12px;
  background-color: #dcedc8;
}

.paso {
  flex: 1;
  text-align: center;
  opacity: 0.3;
  font-weight: normal;
  transition: all 0.3s ease;
}

.paso span {
  font-size: 1.5rem;
  display: block;
  margin-bottom: 0.3rem;
}

.paso.activo {
  opacity: 1;
  font-weight: bold;
  color: #2e2e2e;
}

.paso.activo span {
  transform: scale(1.3);
}
